#nav-links-id a {
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  list-style: none;
}

#nav-title-id a {
  text-decoration: none;
  color: #efefef;
  list-style: none;
}

* {
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0px;
  font-family: "segoe ui";
  min-width: 600px;
}

.nav {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100vw;
  background-color: #464d77;
  z-index: 1;
}

.nav-header {
  display: flex;
  position: relative;
  width: 50vw;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.nav-title {
  display: flex;
  font-size: 35px;
  color: #fff;
  position: relative;
  margin-left: 10vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.nav-btn {
  display: none;
}

.nav-links-box {
  width: 50vw;
  display: flex;
}

.nav-links {
  display: flex;
  float: right;
  position: relative;
  margin-right: 20vw;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0.1vh 0.1vw 0.1vh 0.1vw;
}

.nav-links li {
  font-size: 1.4vw;
  position: relative;
  display: inline;
  text-decoration: none;
  color: #efefef;
  list-style: none;
  white-space: nowrap;
}

.nav-links li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#nav-check {
  display: none;
}

@media only screen and (max-width: 700px) {
  .nav-title {
    display: flex;
    float: right;
    font-size: 30px;
    color: #fff;
    position: absolute;
    margin-left: 7vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .nav-header {
    display: flex;
    position: relative;
    width: 30vw;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .nav-links-box {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
  }
  .nav-links {
    display: flex;
    float: right;
    position: relative;
    margin-right: 7vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0.1vh 0.1vw 0.1vh 0.1vw;
  }
  .nav-links li {
    font-size: 2.5vw;
    position: relative;
    display: inline;
    text-decoration: none;
    color: #efefef;
    list-style: none;
    white-space: nowrap;
  }
}
