.big_box {
  display: flex;
  position: relative;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review_card a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.header_title {
  display: flex;
  position: relative;
  margin-top: 80px;
}

.review_img {
  max-width: 45vw;
}
.review_list {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  align-content: center;
  width: 100vw;
}

.review_card {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  width: 80vw;
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .review_list {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    align-content: center;
    width: 100vw;
  }
  .review_card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 80vw;
    display: flex;
    position: center;
    margin-left: 10vw;
    margin-right: 10vw;
    align-content: center;
    justify-content: center;
  }
}
